.header{
    top: 0;
    z-index: 99;
}

.butonMeniuActiv {
    font-weight: bold;
    border-radius: 5px;
    text-underline-mode: under;
}

.topnav {
    background-color: #0D4D73;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 97.39%;
}

.logo-container img {
    width: 60px;
    height: 60px;
}

.topnav h1 {
    margin: 0;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.topnav ul li {
    padding: 8px;
}

.topnav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.topnav ul li a:hover {
    background-color: #111111;
    padding: 8px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .topnav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .topnav ul {
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }

    .topnav ul li {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .topnav h1{
        margin-left: 5%;
    }

    .topnav img{
        margin-left: 17%;
    }
}
